/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 20px;
    }

    .lesson {
        width: 50%;
        margin-bottom: 50px;
    }

    .flex-main img {
        width: 385px;
        height: 432px;
    }

    .contact {
        flex: auto;
        margin: 0px 50px 30px 50px;
    }

    .x1-wrapper {
        flex-wrap: wrap;
    }

    .x1-data {
        width: 50%;
    }

    .x1-img img {
        height: 200px;
        width: 250px;
    }

    .x1-content {
        width: 50%;
        display: inline-block;
    }

    .x1-content p {
        text-align: justify;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .top-wrapper {
        padding: 180px 0 80px 0;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .signup,
    .facebook,
    .twitter,
    .message {
        width: 100%;
        margin: 0px 10px 10px 0px;
        /*margin: 20px 0;*/
    }

    .container-2 {
        width: 300px;
        height: 430px;
        margin: 0 auto;
    }

    .flex-extra {
        padding: 20px;
        display: flex;
    }

    .flex-main {
        width: 100%;
        display: block;
        ;
    }

    .flex-main img {
        width: 400px;
        height: 300px;
    }

    .message {
        width: 250px;
        height: auto;
    }

    .contact {
        width: 100px;
    }

    .x1-wrapper {
        flex-direction: column;
    }

    .x1-data {
        margin: 1% auto;
        width: 0%;
    }

    .x1-img img {
        width: 250px;
        height: 200px;
    }

    .x1-content {
        width: 100%;
        display: inline-block;
        margin-bottom: 15%;
    }

    .x1-content p {
        text-align: justify;
    }


}